In [21]:
import requests
import re
import json
from bs4 import BeautifulSoup
from time import sleep

In [45]:
URL = "https://api.data.gov/ed/collegescorecard/v1/schools?fields=school.name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&page=1&api_key=GZSQyL8txbdrD0IgbV1baFqRUP6XyNUE52Addxh5"
# response = requests.get(url, headers = {'User-agent': 'your name here'})
base = requests.get(URL)
if base.status_code == 200:
    base_count += 1
else:
    print('Base Error. Status code: %s given' % (base.status_code))

yes

In [52]:
type(based)

Empty DataFrame
Columns: []
Index: []

In [48]:
import pandas as pd
base.json()

{'metadata': {'page': 1, 'per_page': 20, 'total': 7593},
 'results': [{'2013.aid.median_debt.completers.overall': 4825.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 38200,
   '2013.repayment.1_yr_repayment.completers': 87,
   'id': 126915,
   'school.name': 'Delta Montrose Technical College'},
  {'2013.aid.median_debt.completers.overall': 13750.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 35000,
   '2013.repayment.1_yr_repayment.completers': 454,
   'id': 126942,
   'school.name': 'Community College of Denver'},
  {'2013.aid.median_debt.completers.overall': 34120.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 54100,
   '2013.repayment.1_yr_repayment.completers': 3353,
   'id': 131803,
   'school.name': 'Strayer University-District of Columbia'},
  {'2013.aid.median_debt.completers.overall': 6500.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 32500,
   '2013.repayment.1_yr_repayment.completers': 1254,
   'id': 132693,
   'school.name': 'Eastern Florida State College'},
  {'2013.aid.median_debt.completers.overall': 22250.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 49000,
   '2013.repayment.1_yr_repayment.completers': 1735,
   'id': 128771,
   'school.name': 'Central Connecticut State University'},
  {'2013.aid.median_debt.completers.overall': 28500.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 36600,
   '2013.repayment.1_yr_repayment.completers': 309,
   'id': 130934,
   'school.name': 'Delaware State University'},
  {'2013.aid.median_debt.completers.overall': 5500.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 35100,
   '2013.repayment.1_yr_repayment.completers': 96,
   'id': 130396,
   'school.name': 'Gateway Community College'},
  {'2013.aid.median_debt.completers.overall': 7375.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 37100,
   '2013.repayment.1_yr_repayment.completers': 86,
   'id': 130907,
   'school.name': 'Delaware Technical Community College-Terry'},
  {'2013.aid.median_debt.completers.overall': 8000.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 36100,
   '2013.repayment.1_yr_repayment.completers': 74,
   'id': 130606,
   'school.name': 'Tunxis Community College'},
  {'2013.aid.median_debt.completers.overall': 21752.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 46200,
   '2013.repayment.1_yr_repayment.completers': 4575,
   'id': 139940,
   'school.name': 'Georgia State University'},
  {'2013.aid.median_debt.completers.overall': 10555.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 46700,
   '2013.repayment.1_yr_repayment.completers': 2749,
   'id': 142522,
   'school.name': 'Brigham Young University-Idaho'},
  {'2013.aid.median_debt.completers.overall': None,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 83000,
   '2013.repayment.1_yr_repayment.completers': None,
   'id': 145628,
   'school.name': 'Illinois College of Optometry'},
  {'2013.aid.median_debt.completers.overall': 20500.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 66500,
   '2013.repayment.1_yr_repayment.completers': 6061,
   'id': 145637,
   'school.name': 'University of Illinois at Urbana-Champaign'},
  {'2013.aid.median_debt.completers.overall': None,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 22100,
   '2013.repayment.1_yr_repayment.completers': 45,
   'id': 143516,
   'school.name': 'Cannella School of Hair Design-Elgin'},
  {'2013.aid.median_debt.completers.overall': 25000.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 38300,
   '2013.repayment.1_yr_repayment.completers': 1059,
   'id': 144005,
   'school.name': 'Chicago State University'},
  {'2013.aid.median_debt.completers.overall': 7919.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': None,
   '2013.repayment.1_yr_repayment.completers': 173,
   'id': 144795,
   'school.name': 'Cosmetology & Spa Academy'},
  {'2013.aid.median_debt.completers.overall': 6792.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 35500,
   '2013.repayment.1_yr_repayment.completers': 453,
   'id': 144944,
   'school.name': 'Elgin Community College'},
  {'2013.aid.median_debt.completers.overall': 5760.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 33700,
   '2013.repayment.1_yr_repayment.completers': 606,
   'id': 145682,
   'school.name': 'Illinois Central College'},
  {'2013.aid.median_debt.completers.overall': 3500.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 30700,
   '2013.repayment.1_yr_repayment.completers': 134,
   'id': 146205,
   'school.name': 'John A Logan College'},
  {'2013.aid.median_debt.completers.overall': 13000.0,
   '2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings': 23900,
   '2013.repayment.1_yr_repayment.completers': 57,
   'id': 145424,
   'school.name': 'Hair Professionals Career College'}]}

In [77]:
pd.DataFrame(base.json()['results'])

,2013.aid.median_debt.completers.overall,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings,2013.repayment.1_yr_repayment.completers,id,school.name
0,4825.0,38200.0,87.0,126915,Delta Montrose Technical College
1,13750.0,35000.0,454.0,126942,Community College of Denver
2,34120.0,54100.0,3353.0,131803,Strayer University-District of Columbia
3,6500.0,32500.0,1254.0,132693,Eastern Florida State College
4,22250.0,49000.0,1735.0,128771,Central Connecticut State University
5,28500.0,36600.0,309.0,130934,Delaware State University
6,5500.0,35100.0,96.0,130396,Gateway Community College
7,7375.0,37100.0,86.0,130907,Delaware Technical Community College-Terry
8,8000.0,36100.0,74.0,130606,Tunxis Community College
9,21752.0,46200.0,4575.0,139940,Georgia State University
10,10555.0,46700.0,2749.0,142522,Brigham Young University-Idaho
11,NaN,83000.0,NaN,145628,Illinois College of Optometry
12,20500.0,66500.0,6061.0,145637,University of Illinois at Urbana-Champaign
13,NaN,22100.0,45.0,143516,Cannella School of Hair Design-Elgin
14,25000.0,38300.0,1059.0,144005,Chicago State University
15,7919.0,NaN,173.0,144795,Cosmetology & Spa Academy
16,6792.0,35500.0,453.0,144944,Elgin Community College
17,5760.0,33700.0,606.0,145682,Illinois Central College
18,3500.0,30700.0,134.0,146205,John A Logan College
19,13000.0,23900.0,57.0,145424,Hair Professionals Career College

In [8]:
soup = BeautifulSoup(base.content, 'html.parser')
soup

{"metadata":{"total":7593,"page":2,"per_page":20},"results":[{"school.name":"Harrington College of Design","2013.repayment.1_yr_repayment.completers":235,"id":145460,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":41000,"2013.aid.median_debt.completers.overall":35609.5},{"school.name":"Highland Community College","2013.repayment.1_yr_repayment.completers":156,"id":145521,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":30400,"2013.aid.median_debt.completers.overall":8000.0},{"school.name":"Illinois Institute of Technology","2013.repayment.1_yr_repayment.completers":530,"id":145725,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":79300,"2013.aid.median_debt.completers.overall":26280.0},{"school.name":"University of Colorado Boulder","2013.repayment.1_yr_repayment.completers":3793,"id":126614,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":56900,"2013.aid.median_debt.completers.overall":19429.5},{"school.name":"Colorado Technical University-Colorado Springs","2013.repayment.1_yr_repayment.completers":9542,"id":126827,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":58600,"2013.aid.median_debt.completers.overall":29862.0},{"school.name":"Southern California Institute of Architecture","2013.repayment.1_yr_repayment.completers":36,"id":123952,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":46400,"2013.aid.median_debt.completers.overall":39500.0},{"school.name":"Victor Valley College","2013.repayment.1_yr_repayment.completers":92,"id":125091,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":32500,"2013.aid.median_debt.completers.overall":6490.0},{"school.name":"Colorado State University-Pueblo","2013.repayment.1_yr_repayment.completers":1130,"id":128106,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":39000,"2013.aid.median_debt.completers.overall":20500.0},{"school.name":"National American University-Colorado Springs","2013.repayment.1_yr_repayment.completers":1377,"id":127680,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":39500,"2013.aid.median_debt.completers.overall":31459.0},{"school.name":"Santa Monica College","2013.repayment.1_yr_repayment.completers":68,"id":122977,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":39000,"2013.aid.median_debt.completers.overall":7100.0},{"school.name":"Santa Rosa Junior College","2013.repayment.1_yr_repayment.completers":193,"id":123013,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":42200,"2013.aid.median_debt.completers.overall":7500.0},{"school.name":"Saybrook University","id":123095,"2013.aid.median_debt.completers.overall":null,"2013.repayment.1_yr_repayment.completers":null,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":null},{"school.name":"Sierra Valley College of Court Reporting","2013.repayment.1_yr_repayment.completers":23,"id":123396,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":30100,"2013.aid.median_debt.completers.overall":null},{"school.name":"College of the Siskiyous","2013.repayment.1_yr_repayment.completers":75,"id":123484,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":30900,"2013.aid.median_debt.completers.overall":10500.0},{"school.name":"Colorado Mountain College","2013.repayment.1_yr_repayment.completers":238,"id":126711,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":34700,"2013.aid.median_debt.completers.overall":9000.0},{"school.name":"University of Bridgeport","2013.repayment.1_yr_repayment.completers":365,"id":128744,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":45500,"2013.aid.median_debt.completers.overall":27416.5},{"school.name":"Columbus State University","2013.repayment.1_yr_repayment.completers":933,"id":139366,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":37400,"2013.aid.median_debt.completers.overall":23123.0},{"school.name":"Gordon State College","2013.repayment.1_yr_repayment.completers":359,"id":139968,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":34100,"2013.aid.median_debt.completers.overall":15000.0},{"school.name":"Southwestern Illinois College","2013.repayment.1_yr_repayment.completers":535,"id":143215,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":30100,"2013.aid.median_debt.completers.overall":6000.0},{"school.name":"University of Idaho","2013.repayment.1_yr_repayment.completers":1700,"id":142285,"2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings":46900,"2013.aid.median_debt.completers.overall":23030.5}]}

In [150]:
'''
<><> Gov site is an API this block of code is obsolete 
<> This function stores all the json from URL given <>
<> run code once then read CSV from then on <>
Repayment dataset has less then 380 pages of json script
'''

'''
full base api_access = https://api.data.gov/ed/collegescorecard/v1/schools?fields=school.
        name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.
        completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&page=0
        &api_key=GZSQyL8txbdrD0IgbV1baFqRUP6XyNUE52Addxh5
'''
# probably will only work with repayment
def more_pages(pages=370, URL="https://api.data.gov/ed/collegescorecard/v1/schools?fields=school.name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings&page="):
    
    # Lawrence's Registered Key
    key = "&api_key=GZSQyL8txbdrD0IgbV1baFqRUP6XyNUE52Addxh5"
    
    # Base URL for API Data
    base_count = 0
    soups = []
    every_url = [URL] 
    df = pd.DataFrame()
    
    # put pages instead of 3
    for pg_num in range(pages):
        # can't find the robot terms so assuming 1 sec per page
        # sleep(1)
        # collecting URL fragments
        api_access = URL + str(pg_num) + key
        
        # scraping json dict
        base = requests.get(api_access)
        # creating report log
        every_url.append({pg_num:base})
        if base.status_code == 200:
            base_count += 1
        else:
            print('Base Error. Status code: %s given at %s' % (str(pg_num), str(base.status_code)))
        
        # converting url jason to df
        x = pd.DataFrame(base.json()['results'])

        # appending data to master dataset
        df = df.append(x).reset_index(drop=True)
        
        # writing to csv
        df.to_csv('repayment_raw.csv', sep='\t', index=False)
        
    return df

'''
    Unfinished function:
    add write to csv code to finish the log of successful base status codes
'''

more_pages()

,2013.aid.median_debt.completers.overall,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings,2013.repayment.1_yr_repayment.completers,id,school.name
0,18750,46500,7709,137351,University of South Florida-Main Campus
1,NaN,25900,NaN,136659,Radford M Locklin Technical Center
2,14785,35700,2315,137078,St Petersburg College
3,5500,37400,1385,132709,Broward College
4,23361,41600,55,135364,Luther Rice College & Seminary
5,8750,33700,611,135391,State College of Florida-Manatee-Sarasota
6,10500,37500,1343,137096,Santa Fe College
7,24250,67200,1532,133553,Embry-Riddle Aeronautical University-Daytona B...
8,3500,30300,360,136473,Pensacola State College
9,26943,30200,4388,137801,Everest University-Tampa
10,11363,32300,241,137281,Saint Johns River State College
11,NaN,29300,NaN,136491,Pinellas Technical College-Clearwater
12,7500,34000,179,136516,Polk State College
13,NaN,27100,NaN,127158,Emily Griffith Technical College
14,12362.5,38800,1507,127200,Front Range Community College
15,NaN,NaN,NaN,126012,The Wright Institute
16,NaN,NaN,NaN,126049,Thomas Jefferson School of Law
17,NaN,NaN,NaN,126076,Yeshiva Ohr Elchonon Chabad West Coast Talmudi...
18,9940,NaN,76,126164,The Salon Professional Academy-Grand Junction
19,11000,39200,554,126289,Arapahoe Community College
20,4825,38200,87,126915,Delta Montrose Technical College
21,13750,35000,454,126942,Community College of Denver
22,34120,54100,3353,131803,Strayer University-District of Columbia
23,6500,32500,1254,132693,Eastern Florida State College
24,22250,49000,1735,128771,Central Connecticut State University
25,28500,36600,309,130934,Delaware State University
26,5500,35100,96,130396,Gateway Community College
27,7375,37100,86,130907,Delaware Technical Community College-Terry
28,8000,36100,74,130606,Tunxis Community College
29,21752,46200,4575,139940,Georgia State University
...,...,...,...,...,...
7370,8100,21000,383,444282,Empire Beauty School-Midlothian
7371,8531,24200,331,444291,Empire Beauty School-Owings Mills
7372,9951,NaN,33,444316,Bold Beauty Academy
7373,NaN,NaN,NaN,444413,Beis Medrash Heichal Dovid
7374,NaN,NaN,19,444468,Career Beauty College
7375,17200,NaN,49,444510,CES College
7376,9500,NaN,146,444556,Auguste Escoffier School of Culinary Arts-Austin
7377,12915,NaN,70,444811,PITC Institute
7378,NaN,NaN,47,444857,Skinworks School of Advanced Skincare
7379,9500,NaN,169,444866,Southeastern Institute-Columbia
7380,9500,NaN,208,444893,Technical Learning Centers Inc
7381,NaN,NaN,NaN,444909,Total Look School of Cosmetology & Massage The...
7382,7032,22200,1195,444945,Unitech Training Academy-Lafayette
7383,9750,NaN,NaN,444954,Mountwest Community and Technical College
7384,9500,29400,544,422835,American College of Healthcare
7385,9751,31900,68,436304,River Parishes Community College
7386,24975.5,43100,27039,441964,ITT Technical Institute-Chantilly
7387,29709,35300,2725,442578,Minnesota School of Business-Plymouth
7388,18189,46500,8641,442611,NASCAR Technical Institute
7389,27112.5,51400,108,442639,University of the Potomac-VA Campus
7390,9500,23200,4882,442727,Everest Institute-Austin
7391,26250,NaN,282,441788,Aviation Institute of Maintenance-Dallas
7392,24265,NaN,97,441900,Nevada State College
7393,15000,46100,595,441937,California State University-Channel Islands
7394,16487.5,NaN,109,262129,New College of Florida
7395,31500,55800,76189,440420,University of Phoenix-Massachusetts
7396,6861,32100,175,441548,Institute for Therapeutic Massage
7397,NaN,NaN,NaN,441609,Yeshiva Shaarei Torah of Rockland
7398,13000,29900,189,441636,American Institute of Alternative Medicine
7399,NaN,24200,NaN,441706,Caribbean Forensic and Technical College

In [151]:
x = pd.read_csv('./repayment_raw.csv', sep='\t')
x.insert(0,'2013',0)

In [152]:
'''
inital data cleaning
<> reorder
<> rerename
<> deal with missing data
'''
x.columns = ['2013','aid_median_debt_completers_overall', 
             'earnings_10_yrs_after_entry_working_not_enrolled_mean_earnings', 
             'repayment_1_yr_repayment_completers',
             'id',
             'colleges']

In [154]:
x.to_csv('../../assets/repayment.csv', sep='\t', index=False)

In [ ]:
'''I"m 75% sure that the function will work if you change it to another URL but dont forget to change the csvs!!'''